{
  "presets": ["react", "env"],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",

            "imports": ["react"],

            "locals": ["module"]
          }]
        }]
      ]
    }
  }
}