@import "./slick.css";
@import "./slick-theme.css";

.PThumbnailsBox {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 4rem;
    width: 100%;
    z-index: 10;
    height: 86px;
}

.PThumbnailsBox .exhiblistItem {
    width: 100%;
    top: 50%;
    /* left:5px; */
    position: absolute;
    transform: translateY(-50%);
}