body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

input,
select,
textarea {
    outline: none;
    border: none;
    background: none;
}

select,
input {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

sup,
sub {
    font-size: 100%;
    vertical-align: baseline;
}

i {
    font-style: normal;
}

body {
    font-size: 0;
    font-family: "Microsoft Yahei", "微软雅黑";
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.allcenter {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.ellipsis-2 {
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#app {
    z-index: 9;
    margin: 0;
    padding: 0;
}

.reactApp {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.UIBG {
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

.closeIcon {
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
    z-index: 99;
}

.lightDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #969696;
}
* {
    -webkit-overflow-scrolling: touch;
  }